
#grilla{
    display: grid;
}


/*SM XS*/
@media only screen and ( max-width:600px){

   
    #grilla{

        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 900px 50px;
        grid-template-areas:"header"
                            "main"
                            "footer";
    }

    main{
        display:grid;
        grid-template-columns: 90%;
        grid-template-rows: 6% 11% 25% 7% 15% 15% 15%;
        grid-template-areas: "m7"
                             "m1"
                             "m2"
                             "m8"
                             "m4"
                             "m5"   
                             "m6";                                              
        grid-area:main;
        justify-content: space-evenly;
        align-content: space-around;
    }

    .main_titulo_h1{
        grid-area:m7;
    }
    
    .main_titulo_h2{
        grid-area:m8;
    }

    .main_titulo_p{
        grid-area:m1;
    }

    .main_img{
        grid-area:m2;
    }
    
    .tarjeta1{
        grid-area:m4;
    }
     
    .tarjeta2{
        grid-area:m5;
    }

    .tarjeta3{
        grid-area:m6;
    }
       
    footer{
        grid-area:footer;
    }
}
/*MD*/


/* LG */

@media only screen and ( min-width:600px){

       
    #grilla{

        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 800px 50px;
        grid-template-areas:"header"
                            "main"
                            "footer";

    }
    
    .main_grilla{
        display:grid;
        grid-template-columns: 30% 15% 15% 15% 15%;
        grid-template-rows: 15% 15% 15% 1% 15% 15%;
        grid-template-areas: "m7 m2 m2 m2 m2"
                             "m1 m2 m2 m2 m2"
                             "m1 m2 m2 m2 m2"
                             "m8 m3 m3 m3 m3"
                             "m4 m5 m5 m6 m6"   
                             "m4 m5 m5 m6 m6";                                              
        grid-area:main;
        justify-content: space-evenly;
        align-content: space-around;
    }

    .main_titulo_h1{
        grid-area:m7;
    }
    
    .main_titulo_h2{
        grid-area:m8;
    }
    .main_titulo_p{
        grid-area:m1;
    }

    .main_img{
        grid-area:m2;
    }

    .tarjeta1{
        grid-area:m4;
     }   
        
    .tarjeta2{
        grid-area:m5;
    }

    .tarjeta3{
        grid-area:m6;
    }

    footer{
        grid-area:footer;
    }

  
}