#grilla{
    display: grid;
}

/*SM XS*/
@media only screen and ( max-width:600px){

    body{
        background-image:linear-gradient($body-color, $body-color1);
    
    }  
    #grilla{

        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 900px 50px;
        grid-template-areas:"header"
                            "main"
                            "footer";

    }

   

    main{
        display:grid;
        grid-template-columns: 90%;
        grid-template-rows: 10% 5% 30% 5% 15% 15% 15%;
        grid-template-areas: "m7"
                             "m1"
                             "m2"
                             "m8"
                             "m4"
                             "m5"   
                             "m6";                                              
        grid-area:main;
        justify-content: space-evenly;
        align-content: space-around;
    }

    .main_titulo_h1{
        grid-area:m7;
        height: 100px;
        width: 100%;
        display: flex;
        text-justify: center;
        align-items: center;
        justify-content: center;
        font-size:18px;
        text-align:center;
       
      
    }
    
    .main_titulo_h2{
        grid-area:m8;
        height: 100%;
        width: 100%;
        display: flex;
        text-justify: center;
        align-items: center;
        font-size:12px;
        justify-content: center;
      
    }
    .main_titulo_p{
        grid-area:m1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content:end;
        flex-direction: column;
        font-size:15px;
        text-align: center;
       
    }
        


    .main_img{
        grid-area:m2;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
   

    .tarjeta1{
        grid-area:m4;
        height: 80%;
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        display: flex;
        flex-direction:column;
        justify-self: center;
        align-self:flex-end;
    }
     
    .tarjeta2{
        grid-area:m5;
        height: 80%;
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        display: flex;
        flex-direction:column;
        justify-self: center;
        align-self: flex-end;
    }

    .tarjeta3{
        grid-area:m6;
        height: 80%;
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        display: flex;
        flex-direction:column;
        justify-self: center;
        align-self: flex-end;
    }
    
    
   

    .tarjeta_h3{
        display: flex;
        text-justify: center;
        align-items:flex-end;
        justify-content: center;
        font-size:15px;
        
    }

    .tarjeta_p{
        align-items: center;
        justify-content: center;
        font-size:10px;
        text-align: center;
     
    }

    footer{
        grid-area:footer;
             
    }


}
/*MD*/


/* LG */

@media only screen and ( min-width:600px){

    body{
        background-image: linear-gradient($body-color,$body-color1);
       
    }
    
    #grilla{

        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 800px 50px;
        grid-template-areas:"header"
                            "main"
                            "footer";

    }
    
    .main_grilla{
        display:grid;
        grid-template-columns: 30% 15% 15% 15% 15%;
        grid-template-rows: 15% 15% 15% 1% 15% 15%;
        grid-template-areas: "m7 m2 m2 m2 m2"
                             "m1 m2 m2 m2 m2"
                             "m1 m2 m2 m2 m2"
                             "m8 m3 m3 m3 m3"
                             "m4 m5 m5 m6 m6"   
                             "m4 m5 m5 m6 m6";                                              
        grid-area:main;
        justify-content: space-evenly;
        align-content: space-around;
    }

    .main_titulo_h1{
        grid-area:m7;
        height: 100%;
        width: 100%;
        display: flex;
        text-justify: center;
        align-items: center;
        justify-content: center;
      
    }
    
    .main_titulo_h2{
        grid-area:m8;
        height: 100%;
        width: 100%;
        display: flex;
        text-justify: center;
        align-items: center;
        justify-content: center;
      
    }
    .main_titulo_p{
        grid-area:m1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content:center;
        flex-direction: column;
        font-size:18px;
        text-align: center;
       
    }
        


    .main_img{
        grid-area:m2;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .tarjeta1{
        grid-area:m4;
        height: 80%;
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        display: flex;
        flex-direction:column;
        justify-self: center;
        align-self: center;
    }   
        
     
      
    .tarjeta2{
        grid-area:m5;
        height: 80%;
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        display: flex;
        flex-direction:column;
        justify-self: center;
        align-self: center;
    }

    .tarjeta3{
        grid-area:m6;
        height: 80%;
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        display: flex;
        flex-direction:column;
        justify-self: center;
        align-self: center;
       
    }
    
          

    .tarjeta_h3{
        display: flex;
        text-justify: center;
        align-items: center;
        justify-content: center;
    
    }

    .tarjeta_p{
        align-items: center;
        justify-content: center;
        font-size:18px;
        text-align: center;
       
    }
    footer{
        grid-area:footer;
       
      
    }

  
}