$base-tarjeta:  rgb(202, 232, 191);
$base-tarjeta1: rgb(79, 51, 161);
$base-tarjeta2: rgb(5, 86, 81);
$base-tarjeta3: rgb(149, 214, 247);
$body-color: rgb(74, 183, 237);
$body-color1: rgb(202, 232, 191);
$footer-color: rgb(17, 78, 109);
$font-family: 'Charm', cursive; 